

$skybluebackground:#e9f6fc;

body{
    background-color: $skybluebackground;
}
// div{
//     background-color: $skybluebackground;
// }
.collections{
    background-color: $skybluebackground;
}

// .myTest{
//     font-size: 200px;
// }
*{
    box-sizing: border-box;
    
    
}

.myMenuItem:hover{
    font-weight: bolder;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    cursor: pointer;
}